<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="https://https--personal-website-tiagorangel2011.glitch.me/index/favicon.svg">
    <title>Page not found | URL shortner</title>
  </head>
  <body>
    <center>
      <h1 style="color: #4287f5;font-size: 4em;">404</h1>
      <h4>Shortned link not found. It may have been deleted.<br>Please check the URL and try again</h4>
    </center>
  </body>
  <style>
  body, html {
  padding: 0px!important;
  margin: 0px!important;
    }</style>
</html>
