<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>URL Analytics | URL shortner</title>
  </head>
  <body>
    <center>
       <img src="https://https--personal-website-tiagorangel2011.glitch.me/index/favicon.svg" style="width: 50px;">
        <h1><a href="/" style="color: black"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
</svg></a> Analytics</h1>
      <br />
      <form>
        <div>
          <input
            type="text"
            name="slug"
            placeholder="slug"
            style="margin-top: 10px;"
            required
          />
        </div>
        <br />
        <button type="submit">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#fff" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
</svg>
        </button>
      </form>
      <br />
      <div id="response"></div>
    </center>
  </body>
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="./stats.js"></script>
</html>
